$blue : rgb(98, 140, 166);
$black : rgb(20, 20, 20);
$orange : rgb(239, 101, 42);
$red : rgb(145, 15, 21);

$phablet : 600px;
$mobile : 480px;

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);

* {
  box-sizing: border-box;
}
